

.buttons {
    display: flex;
    gap:5px;
    justify-content: center;
    flex-direction: column;
}
.displayResult {
    display: flex;
    border: 2px solid black;
    height:60px;
    width: 510px;
    margin: 10px auto;
    font-size: 60px;
    justify-content: right;
    overflow:hidden;

}
.digits .digit:hover {
    
    border: 2px solid rgb(255, 0, 76);
    
    
}
button:active{
    background-color: rgb(167, 167, 167);
}

.digits {
    display: grid;
    gap:5px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    
}

button:hover {
border: 2px solid rgb(255, 0, 76);

}
.displaySymbols {
    display: flex;
    font-size: 40px;
    color:green;
}
.endButtons {
    display: flex;
    justify-content: center;
    
    
}
.clear {
    display: inline-block;
    margin: 20px;
}
button {
    padding:20px;
    font-size: 24px;
    border: 2px solid rgb(182, 178, 178);
    border-radius: 5px;
    
}
.container2 {
    display: flex;
    justify-content:center;
    gap:25px;
}
