

.buttons {
    display: flex;
    gap:22px;
    justify-content: center;
}
.displayResult {
    display: flex;
    border: 2px solid black;
    height:40px;
    width: 275px;
    margin: 0 auto;
    font-size: 40px;
    justify-content: right;
    overflow:hidden;

}
.digits .digit:hover {
    
    border: 2px solid black;
    
    
}
.digits {
    display: grid;
    gap:5px;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width:100px;
    MARGIN:0 auto;
}

button:hover {
border: 2px solid black;
border-radius: 2px;
}
.displaySymbols {
    display: flex;
    font-size: 40px;
    color:green;
}
.endButtons {
    display: flex;
    justify-content: center;
    
    
}
.clear {
    display: inline-block;
    margin: 20px;
}